<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <b-form-select
                                v-model="selectedCars"
                                :options="cars"
                                multiple
                                :select-size="16"
                        ></b-form-select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <b-button-group>
                            <b-button @click="addAll">Add All</b-button>
                            <b-button @click="removeAll">Remove All</b-button>
                        </b-button-group>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <datepicker
                                placeholder="From Date"
                                v-model="startTime"
                        ></datepicker>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <datepicker
                                placeholder="To Date"
                                v-model="endTime"
                        ></datepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <b-table striped :items="distancesTable"></b-table>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    export default {
        name: "App",
        components: {
            Datepicker
        },
        data() {
            return {
                cars: [],
                selectedCars: [],
                startTime: '',
                endTime: '',
                startTimestamp: 0,
                endTimestamp: 0,
                distancesTable: []
            }
        },
        watch: {
            startTime: function() {
                this.startTimestamp = parseInt(new Date(this.startTime).getTime() / 1000);
            },
            endTime: function() {
                this.endTimestamp = parseInt(new Date(this.endTime).getTime() / 1000);
            }
        },
        methods: {
            addAll() {
                this.selectedCars = [];
                this.cars.forEach(car => {
                    this.selectedCars.push(car.value);
                });
            },
            removeAll() {
                this.selectedCars = [];
            },
            getCars() {
                this.$axios.get('/api/cars')
                    .then(response => {
                        response.data.forEach(item => {
                            this.cars.push({
                                text: `${item.manufacturer} ${item.model} (${item.plate_nr})`,
                                value: item.imei
                            })
                        })
                    })
                    .catch(() => {
                        alert('Server error');
                    });
            },
            getDistance() {
                if(this.startTimestamp === 0 || this.endTimestamp === 0) {
                    return;
                }

                this.distancesTable = [];
                this.selectedCars.forEach(imei => {
                    this.$axios.get(`/api/distance/${imei}/${this.startTimestamp}/${this.endTimestamp}`)
                        .then(response => {
                            let carName = this.cars.find(obj => obj.value === imei).text;
                            this.distancesTable.push({
                                Car: carName,
                                Distance: response.data.distance
                            });
                        })
                        .catch(() => {
                            alert('Server error');
                        });
                })
            }
        },
        mounted() {
            this.getCars();
            setInterval(this.getDistance, 5000);
        }
    };
</script>

<style lang="scss">

</style>
